<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_14a1f58b8ccf4a98918eefa9e6031352 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_14a1f58b8ccf4a98918eefa9e6031352" ></div>
        
</body>
<script>    
    
            var map_14a1f58b8ccf4a98918eefa9e6031352 = L.map(
                "map_14a1f58b8ccf4a98918eefa9e6031352",
                {
                    center: [1.403948, 103.909048],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a3f317a4558444ef884c761969431c98 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_14a1f58b8ccf4a98918eefa9e6031352);
        
    
            var poly_line_ed9c1790350f4042972c396ca1b5d1e2 = L.polyline(
                [[1.4063676, 103.9029617], [1.4060174, 103.9027672], [1.4056407, 103.9024307], [1.4052749, 103.9022357], [1.4049935, 103.9020857], [1.4046303, 103.9019595], [1.4044217, 103.9018835], [1.4039377, 103.9016149], [1.4027797, 103.9009723], [1.4025926, 103.9009071], [1.4024403, 103.9009003], [1.4022694, 103.9009367], [1.4021169, 103.9010024], [1.401959, 103.9011377], [1.401825, 103.9013221], [1.4015436, 103.9018654], [1.4013732, 103.9022066], [1.4005011, 103.903986], [1.4000251, 103.9049539], [1.3998348, 103.9052588], [1.3993194, 103.9059813], [1.3986704, 103.9068101], [1.3976891, 103.9080237], [1.3970511, 103.9087405], [1.3968438, 103.9089612], [1.3959432, 103.9100725], [1.3951262, 103.9110583], [1.3939512, 103.9124907]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_14a1f58b8ccf4a98918eefa9e6031352);
        
    
            var poly_line_b9d269ad4f294ff79cee9e7e3e1a0cb1 = L.polyline(
                [[1.3939512, 103.9124907], [1.3936553, 103.9125814], [1.3941837, 103.9103619], [1.3940735, 103.9106508979419]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_14a1f58b8ccf4a98918eefa9e6031352);
        
    
            var marker_9a98a251f8f24bb38324e14ae3bd73bf = L.marker(
                [1.4052585, 103.9023302],
                {}
            ).addTo(map_14a1f58b8ccf4a98918eefa9e6031352);
        
    
        var popup_dccbc5f32c8f415bab11e44b6de89e31 = L.popup({"maxWidth": "100%"});

        
            var html_8c6860a3cde7492da3e49117bb98499d = $(`<div id="html_8c6860a3cde7492da3e49117bb98499d" style="width: 100.0%; height: 100.0%;"><i>Start</i></div>`)[0];
            popup_dccbc5f32c8f415bab11e44b6de89e31.setContent(html_8c6860a3cde7492da3e49117bb98499d);
        

        marker_9a98a251f8f24bb38324e14ae3bd73bf.bindPopup(popup_dccbc5f32c8f415bab11e44b6de89e31)
        ;

        
    
    
            var marker_0f6a7938d2714b5e8dbf3e0fba9070cc = L.marker(
                [1.3940735, 103.9106508979419],
                {}
            ).addTo(map_14a1f58b8ccf4a98918eefa9e6031352);
        
    
        var popup_9fa161d5c41145ceabe8a0947260fb0a = L.popup({"maxWidth": "100%"});

        
            var html_3a2fd5b67d38436fac4df3f9f6f50d1a = $(`<div id="html_3a2fd5b67d38436fac4df3f9f6f50d1a" style="width: 100.0%; height: 100.0%;"><i>Destination</i></div>`)[0];
            popup_9fa161d5c41145ceabe8a0947260fb0a.setContent(html_3a2fd5b67d38436fac4df3f9f6f50d1a);
        

        marker_0f6a7938d2714b5e8dbf3e0fba9070cc.bindPopup(popup_9fa161d5c41145ceabe8a0947260fb0a)
        ;

        
    
</script>